.background {
  background-image: url(../../images/backgroundImg.jpg) !important;
  position: relative;
  height: 100vh;
  width: auto !important;
}
#searchBar {
  text-align: center !important;
}
#inputSearch{
  border-radius:80px;
 
  
}
.homeButton {
  height: auto;
}
.homeButton button {
  padding: 18px;
  width: 215px;
  margin-right: 10px;
  border-radius: 200px;
  background-color: rgb(144, 145, 145);
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.homeButton button:hover {
  background-color: rgb(240, 165, 3);
  color: black;
}
.searchOption {
}
